
body{
    font-family: 'Poppins', sans-serif;
    text-align: justify;
    
}

.container-fluid{
padding: 2% 12%;
}

#title{
    background: #eedad1;
}

.nav-img{

    border-radius: 50%;
    width: 50px;
    margin :5px;
    
}

.nav-item{
    font-family: 'Poppins', sans-serif;
    margin: 2%;
    font-size: large;
    text-size-adjust: auto;
}



.title-img{
    width: 80%;
    margin-left: 10%;    }

.col-lg-5{
    padding: 14% 0 5% 0;
}

.col-lg-5 h5{
    line-height: 1;
    color: gray;
    margin-bottom: 25px;

}
