
body{
    font-family: 'Poppins', sans-serif;
    text-align: justify;   
    margin: 0;
}

/*--------------------------- Title Section */
.container-fluid{
padding: 2% 15%;
}

#title{
    background: #fbecec;
}

.nav-img{
    border-radius: 50%;
    width: 50px;
    margin :5px;   
}

.nav-item{
    font-family: 'Poppins', sans-serif;
    margin: 2%;
    font-size: large;
    text-size-adjust: auto;
}

.title-img{
    width: 100%;
}

.downloadbtn{
            margin:  20px 20px 20px 0;
            background: #c9485b;
            padding: 5px;
        }
        
.row{
    display:flex;
    padding: 8% 0; 
    align-items: center;
  
}

.text{
    padding:  5% 0 0 26%;
} 

.col-lg-6  h5{
    line-height: 1;
    color: #c9485b;
    margin-bottom: 25px;

}


/* AboutMe Section */
#about, #contact{
    padding: 0 20%;
}


.mypic{
  
    width: 90%;
      
    
}

#projects{
    background: #fbecec;
   padding: 5% 20%;
}


.pic1{
    width: 60%;
    margin-bottom: 10%;
}

.intro{
    text-align: center;
}

#contact{
    background: #c9485b;
    
 
    
}

.socialmedia{
    margin: 0 auto;
}
.social-icon{
    
    color: black;
    margin: 20px;
  }